.parent {
  display: flex;
  background-color: aqua;333333333
  flex-direction: row;
  justify-contents: center;	
  align-items: flex-end;
  height: 200px;
}
.child {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-right: 8px;
  border: 1px solid black;
}
#child1{
	flex-basis:  ;
}
#child2{}
#child3{}