.parent {
  display: flex;
  background-color: aqua;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
.child {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-right: 8px;
  border: 1px solid black;
}
#child1 {
  flex-basis: 200px;
}
#child2 {
  flex-basis: 300px;
}
#child3 {
  flex-basis: 250px;
}
